
<%= render 'movies/sideBar' %>

<main class="movies-main">
  <% @movies.each do |movie| %>
  <div>
    <%= raw movie.movie_url %>
    <p>movie名：<%= movie.movie_name %></p>

    <%= link_to movie_path(movie.id) do %>
      <p>紹介詳細ページ</p>
    <% end %>

    <p>説明：<%= movie.caption %></p>
    <p>movieを紹介したユーザー：<%= movie.user.name %></p>
  </div>
  <% end %>
  <%= paginate @movies %>
</main>