<%= render 'movies/sideBar' %>

<main class="new-movies-main">
  <h1>動画投稿フォーム</h1>
  <%= form_with model: @movie, local:true do |f| %>
    <h4>Movie url</h4>
    <%= f.text_area :movie_url %>
    <h4>movie name</h4>
    <%= f.text_field :movie_name %>
    <h4>caption</h4>
    <%= f.text_area :caption %>
    <div class="form-group">
      <%= f.submit 'Create Movie', class: 'create-movie' %>
    </div>
  <% end %>
</main>


